<ion-view title="Resources" id="page4">
    <ion-content padding="false" class="has-header" scroll="false">
   
         
        <button ng-click="hide()" ng-class="recolorbutton" class="resource-button"><span></span>Click here to search</button>
    
        
        <div id="resourcemap" data-tap-disabled="true"></div>
       
        <div class="resource-options" ng-class="animationbutt">
            
            <button ng-click="hide()" onclick="filterMarkers('All');" class="resource-button"><span></span>All Categories</button>
            <button ng-click="hide()" onclick="filterMarkers('Arun');" class="resource-button"><span></span><i class="icon ion-coffee resourceicons"></i> Food Resources</button>
            <button ng-click="hide()" onclick="filterMarkers('Kylie');" class="resource-button"><span></span><i class="icon ion-medkit resourceicons"></i>Medical Care</button>
            <button ng-click="hide()" onclick="filterMarkers('Reagan');" class="resource-button"><span></span><i class="icon ion-home resourceicons"></i>Shelters</button>
        </div>
        
    </ion-content>
</ion-view>